rda/
svg/
txt/
csv/
docx/
npy/
trash/
*.pyc
*.jpg
*.jpeg
*.png
*.svg
*.pdf
*.xlsx
*.sql
*.dta
*.sps
*.spss
*.sas
*.sav
*.txt
*.json
*.csv
*.pkl
*.h5
*.zip
*.7z
*.rar
*.npy
*.npz
*.pt
*.Rda
*.RDS
*.docx
*.doc
*.docx
*.DS_Store
*.Rhistory
*.Rdata